{% extends "basic_portfolio/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<style>
  .banner-image {
    background-image: url('static/images/pexels2.jpg');
    background-size: cover;
  }
  /* .hide {
      opacity:0;

  } */
  /* @keyframes wipe-enter {
  	0% {
  		transform: scale(0, .025);
  	}
  	50% {
  		transform: scale(1, .025);
  	}
  } */
  .show {

  }
  @media (max-width: 576px) {
    .banner-image {
      padding-top: 100px;
    }
  }
  @media (max-width: 768px) {
    .banner-image {
      padding-top: 200px;
    }
  }
</style>

<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
  <h1 class="text-white" id="header-text1">Hello, <br>I am Naseem.</h1>
  <div class="content text-center">
    <h1 class="text-white" id="header-text2">
      Computer Science (Network Computing) Graduate <br>
      Achieved 2.1 with Honours <br>
      A technology enthusiast who loves to learn and adapt.
    </h1>
    <button id="button" class="btn btn-primary btn-md" type="button" onClick="location.href=' {% url 'basic_portfolio:aboutme' %} '">Learn more</button>
  </div>
</div>

<script src="{% static 'js/index.js' %}"></script>

{% endblock %}
