{% extends "basic_portfolio/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<style>
  .banner-image {
    background-image: url('static/images/brunel6.jpg');
    background-size: cover;
  }
  @media (max-width: 576px) {
    .banner-image {
      padding-top: 100px;
    }
  }
  @media (max-width: 768px) {
    .banner-image {
      padding-top: 200px;
    }
  }
</style>

<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="content text-center">
    <h1 class="text-white" id="header-text1">Hello, I am Naseem.</h1>
    <h1 class="text-white" id="header-text">An aspiring software developer who loves to learn and adapt.</h1>

  </div>
</div>

<div class="container">
  <!-- <div class="container d-grid gap-5"> -->

  <div class="p-5">
    <h1 class="mystack mb-4" align="center">My Stack</h1><br>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-6 boxy pb-5" align="center"> <img src="static/images/pl-icon200x200_java.png" alt="" id="img-first-col"> </div>
      <div class="col-lg-3 col-md-6 col-xs-6 boxy pb-5" align="center"><img src="static/images/pl-icon200x200_xml.png" alt="" id="img-first-col"></div>
      <div class="col-lg-3 col-md-6 col-xs-6 boxy pb-5" align="center"><img src="static/images/pl-icon200x200_html.png" alt="" id="img-first-col"></div>
      <div class="col-lg-3 col-md-6 col-xs-6 boxy" align="center"><img src="static/images/pl-icon200x200_css.png" alt="" id="img-first-col"></div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 boxy" align="center"><img src="static/images/pl-icon200x200_mysql.png" alt=""></div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 boxy" align="center"><img src="static/images/pl-icon200x200_sqlite.png" alt=""></div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 boxy" align="center"><img src="static/images/pl-icon200x200_git.png" alt=""></div>
    </div>
  </div>
</div>

<div class="familiarwith_fullwidth">
  <div class="container">
    <!-- <div class="container d-grid gap-5"> -->

    <div class="p-5">
      <h1 class="fw mb-4" align="center">Familiar With</h1><br>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-6 boxy pb-5" align="center"> <img src="static/images/pl-icon200x200_bootstrap.png" alt="" id="img-first-col"> </div>
        <div class="col-lg-4 col-md-6 col-xs-6 boxy pb-5" align="center"><img src="static/images/pl-icon200x200_js.png" alt="" id="img-first-col"></div>
        <div class="col-lg-4 col-md-6 col-xs-6 boxy pb-5" align="center"><img src="static/images/pl-icon200x200_jquery.png" alt="" id="img-first-col"></div>
        <div class="col-lg-6 col-md-6 col-xs-6 boxy" align="center"><img src="static/images/pl-icon200x200_python.png" alt=""></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 boxy" align="center"><img src="static/images/pl-icon200x200_django.png" alt=""></div>
      </div>
    </div>
  </div>
</div>


<div class="container my-5">
  <!-- <div class="container my-5 d-grid gap-5"> -->
      <div class="p-5">
        <h1 align="center">About Me</h1>
        <p align="center">
          "I am a recent graduate from Brunel University London in Computer Science (Network Computing), I have achieved a 2:1
          overall with a first on my dissertation. During my university years of study, I have built a number of different projects
          you can view <a href="{% url 'basic_portfolio:uniprojects' %}">here</a>. I am also aspiring to gain further experience in
          Android development and Java through producing small projects and begin to follow DevOps concepts. I am aiming to build an
          array of skills in Software Development which includes Mobile Development, Web Development, DevOps and Cloud to successfully
          build projects and affectively test and deploy. These are the types of fields I would like to get into and if you have any questions,
          you can contact me via <a href="https://www.linkedin.com/in/abdul-naseem-khan-14b429198/">LinkedIn</a>."
        </p>
        <img id="aboutme_img" src="{% static 'images/aboutme.jpg'%}" alt="">
      </div>
</div>

    <script type="text/javascript">
      var nav = document.querySelector('nav');

      window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
          nav.classList.add('bg-dark', 'shadow');
        } else {
          nav.classList.remove('bg-dark', 'shadow');
        }
      });
    </script>

{% endblock %}
