body{
  font-family: 'Heebo', sans-serif;
}

.text-white{
  /* color: #9fafca!important; */
  color: #E85D04!important;
  text-shadow: 1.5px 1.5px #000000;
  /* background: rgba(61,90,128,0.5); */
  background: rgba(14,56,122,0.5);

}
.navbar-brand{
  /* color: #FFFFFF!important; */
  /* color: #9fafca!important; */
  color: #E85D04!important;
  text-shadow: 1px 1px #000000;
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Satisfy', cursive;
  font-size: 28px;
}
.text-nav{
  color: #E85D04!important;
  /* color: #9fafca!important; */
  text-shadow: 1px 1px #000000;
  font-family: 'Heebo', sans-serif;
}
.text-nav:hover{
  color: #DC2F02!important;
}

.navbar-toggler{
  outline: none!important;
  box-shadow: none!important;
}

.familiarwith_fullwidth{
  background: #0e387a;
  width:100%;
}
.fw{
  color: #9fafca;
  text-shadow: 1.2px 1.2px #000000;

}
.mystack{
  color: #0e387a;
  text-shadow: 1px 1px #000000;
}
#footer{
  background: #0e387a;
  bottom:0;
  height:auto;
  margin-top:40px;
  width:100%;
  text-align:center;
  color: #E85D04;
  padding: 10px 0;
}

#img-first-col{
  width:150px;
  height:150px
}

@media only screen and (max-width: 950px) {
  #header-text1{
    margin-top:-100px!important;
  }

}
