body{
  font-family: 'Heebo', sans-serif;
}

/* .navbar-brand{
  color: #FFFFFF!important;
  color: #9fafca!important;
  color: #E85D04!important;
  text-shadow: 1px 1px #000000;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Satisfy', cursive;
  font-size: 35px;
} */
.text-nav{
  /* color: #E85D04!important; */
  color: #FFFFFF!important;
  /* color: #9fafca!important; */
  text-shadow: 1px 1px #000000;
  font-family: 'Heebo', sans-serif;
  font-size: 20px!important;
}
.text-nav:hover{
  color: #DC2F02!important;
}

.navbar-toggler{
  outline: none!important;
  box-shadow: none!important;
}

.familiarwith_fullwidth{
  width:100%;
}
.fw{
  color: #9fafca;
  text-shadow: 1.2px 1.2px #000000;

}

/* #footer{
  /* background: #0e387a;
  background: rgba(64,64,64, 1);
  bottom:0;
  height:auto;
  margin-top:40px;
  width:100%;
  /* text-align:center;
  color: #E85D04;
  padding: 10px 0;
}
#left{
  text-align: left!important;
  font-size: 20px;
  color: #ffffff;
  margin-top: 30px;
}
#right{
  text-align: right!important;
  margin-bottom: 30px;
}
p{
  display: inline;
  padding: 20px;
} */

footer {
  bottom: 0;
  width: 100%;
  height:auto;
  padding: 30px 0;
  background: rgba(64,64,64, 1);
}

.content.left {
  margin-left: 200px;
  color: white;
}

.content.right {
  float: right;
  margin-right: 200px;
}

#img-first-col{
  width:150px;
  height:150px
}
@media only screen and (max-width: 950px) {
  .content.left {
    text-align: center!important;
  }

  .content.right {
    text-align: center;
    margin-bottom: 30px!important;
  }

}
