.navbar{
  /* background: #3D5A80!important; */
  background: #0e387a!important;
}
#header{
  background: #0e387a!important;
  padding-bottom: 100px!important;

}

.header-text{
  /* background: #0e387a; */
  /* width:100%; */
  /* color: #0e387a; */
  color: #9fafca;
  margin-top: 50px!important;
  margin-bottom: -80px;
}
#grad-cert-link{
  background: #E85D04!important;
  border-style: none;
  width:400px;
  height:40px;
}
#grad-cert-link:hover{
  background: #DC2F02!important;
  border-style: none;
  width:400px;
  height:40px;
}
#projects{
  margin-top: -50px!important;
}
h3{
  margin-top: 50px!important;
  font-family: 'Satisfy', cursive;
  font-size: 36px;
  color: #0e387a;
}
/* body > div.container.my-5.d-grid.gap-5.p-5.rounded > div:nth-child(1) > div:nth-child(3) > button:nth-child(1){
  background: #E85D04!important;
  border-style: none;
}
body > div.container.my-5.d-grid.gap-5.p-5.rounded > div:nth-child(1) > div:nth-child(3) > button:nth-child(1):hover{
  background: #DC2F02!important;
  border-style: none;
}

body > div.container.my-5.d-grid.gap-5.p-5.rounded > div:nth-child(1) > div:nth-child(3) > button:nth-child(2){
  background: #E85D04!important;
  border-style: none;
}

body > div.container.my-5.d-grid.gap-5.p-5.rounded > div:nth-child(1) > div:nth-child(3) > button:nth-child(2):hover{
  background: #DC2F02!important;
  border-style: none;
} */
#button{
  background: #E85D04!important;
  border-style: none;
}
#button:hover{
  background: #DC2F02!important;
  border-style: none;
}
.p-5 .border{
  border: 1px solid #9fafca!important;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
    overflow-x: hidden;
    font-size: 16px!important;
    position: relative;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: -50%;
    margin-right: -35px;
  }
  #grad-cert-link{
    width:350px!important;
  }
  #projects{
    width:50px!important;
    margin-right: -35px!important;
  }
  .p-5 .border{
    margin-right: -100px!important;
  }
}
